/*
 * @Author: Esther 
 * @Date: 2017-11-04 17:46:24 
 */

@charset "utf-8";

/** Helpers **/

@import './helpers/_parameters';
@import './helpers/_functions';

/*********************公用css********************************/

html {
    font-size: 62.5%; // 10 ÷ 16 × 100% = 62.5% 
    background: #fff;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

html * {
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    /*设置所有的盒子的宽度以边框开始计算*/
    -webkit-box-sizing: border-box;
    /*要兼容 webkit 浏览器内核厂商 这种情况一般是老的移动端浏览器*/
    box-sizing: border-box;
}

html,
body {
    background: #f7f7f7;
    color: $main-font-color;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif !important;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
::before,
::after {
    margin: 0;
    padding: 0;
    /*在移动端特殊的设置*/
}

input,
select,
textarea {
    font-size: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,
img {
    border: 0
}

del {
    text-decoration: line-through
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: 500
}

ol,
ul {
    list-style: none
}

caption,
th {
    text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 500
}

ins,
a {
    text-decoration: none;
    color: $main-font-color;
}

a:hover {
    color: $main-font-color;
}

input,
textarea {
    border: none;
    outline: none;
    resize: none;
    /*特殊的属性定义  清除浏览器给input自带的样式*/
    -webkit-appearance: none;
    /*组件默认的样式空*/
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    display: block;
}

ol,
ul {
    list-style: none;
}

input,
select,
form images,
button {
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
}


/****************************************************/

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::after,
.clearfix::before {
    content: ".";
    line-height: 0;
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}

.w25 {
    width: 25%;
}

.w33 {
    width: 33.3333%;
}

.w50 {
    width: 50%;
}

.pr {
    position: relative;
}

.v-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/**********************公共Header*************************/

.mainHeader {
    width: 100%;
    height: px2em(44);
    background-color: $main-color;
    .logo {
        padding: px2em(10) px2em(12);
        height: 100%;
        img {
            max-height: px2em(24);
            overflow: hidden;
        }
    }
    .appDownload {
        padding: px2em(6) px2em(12);
        height: 100%;
        img {
            max-height: px2em(32);
            overflow: hidden;
        }
    }
}


/**********************公共Footer*************************/

.mainFooter {
    width: 100%;
    margin-top: px2em(10);
    .footerButton {
        border-top: 1px solid #c4c4c4;
        border-bottom: 1px solid #c4c4c4;
        .register {
            border-right: 1px solid #c4c4c4;
            width: 33%;
            float: left;
            text-align: center;
            padding: px2em(10) 0;
        }
        .login {
            border-right: 1px solid #c4c4c4;
            width: 33%;
            float: left;
            text-align: center;
            padding: px2em(10) 0;
        }
        .toTop {
            width: 33%;
            float: left;
            text-align: center;
            padding: px2em(10) 0;
            img {
                height: px2em(15);
                width: px2em(15);
                vertical-align: middle;
                margin-top: px2em(-4);
                margin-right: px2em(4);
            }
        }
    }
    .msg {
        text-align: center;
        padding: px2em(10) px2em(30);
        a {
            display: inline-block;
        }
        p {
            text-align: center;
        }
    }
}


/**********************公共Title*************************/

.commTitle {
    width: 100%;
    height: px2em(35);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffaf47), to(#ff9000));
    h2 {
        height: px2em(35);
        color: #fff;
        line-height: px2em(35);
        margin-left: px2em(10);
        @include font-dpr(18);
    }
    span {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        right: 0;
        img {
            width: px2em(20);
            height: px2em(20);
        }
    }
}